.Languages{
    height: 70%;
    width: 100%;
    text-align: left;
    background-color: #d1e3eb;
    padding: 26px;
    font-family: sans-serif;
}

.container-Interest-languages{
    display: flex;
    flex-direction: row;
  }